# --- Окружение и зависимости ---
.venv/
venv/
env/
.venv
*.py[cod]
*$py.class
__pycache__/

# --- IDE (PyCharm) ---
.idea/
.vscode/
*.swp
*.swo

# --- Зависимости ---
*.egg-info/
dist/
build/
*.egg

# --- Файлы окружения (пароли, токены) ---
.env
.env.local
.env.*.local

# --- Базы данных и файлы состояний ---
*.db
*.sqlite
*.sqlite3
seed.py

# --- Логи ---
*.log

# --- Операционные системы ---
.DS_Store
Thumbs.db

# --- Временные файлы ---
*.tmp
*.bak
*.cache